<h2>Dodaj wydatek</h2>

<form (ngSubmit)="onSubmit()" #wydatekForm="ngForm">
  <div class="row">
    <div class="col">
      <label>Kategoria:</label>
      <select class="form-control" name="kategoria" [(ngModel)]="nowyWydatek.kategoria">
      <option *ngFor="let k of kategorie">{{k}}</option>
      </select>
    </div>
    <div class="col">
      <label>Kwota:</label>
      <input class="form-control" name="kwota" type="number" required min="0" [(ngModel)]="nowyWydatek.kwota">
    </div>
    <div class="col">
      <label>Data:</label>
      <input class="form-control" name="data" type="date" required [(ngModel)]="nowyWydatek.data">
    </div>
  </div>
  <div class="row" *ngIf="nowyWydatek.kategoria=='Tankowanie'">
    <div class="col">
      <label>Przebieg:</label>
      <input class="form-control" name="ileKm" type="number" [(ngModel)]="nowyWydatek.ileKm">
    </div>
    <div class="col">
      <label>Ile litrów:</label>
      <input class="form-control" name="ileLitrow" type="number" [(ngModel)]="nowyWydatek.ileLitrow">
    </div>
    <div class="col"></div>
  </div>
  <div class="form-group">
    <label>Opis:</label>
    <input class="form-control" name="opis" type="string"  [(ngModel)]="nowyWydatek.opis">
  </div>
  <button class="btn btn-primary" [disabled]="wydatekForm.invalid" >Zapisz</button>
</form>
